.item {
    display: flex;
    justify-content: space-between;
}

.item:not(:last-child) {
    margin-bottom: 14px;
}

.text {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    text-align: center;
    color: var(--main);
}

.text::first-letter {
    text-transform: capitalize;
}