.header {
    /* font-size: calc(10px + 2vmin); */
    color: white;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
/*     
    .logo {
        pointer-events: none;
        filter: invert(1);
    } */
    
    .list {
        display: flex;
        gap: 16px;
    }

    .link {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.25;
        text-align: center;
        color: var(--button);
        }
}
