.header {
    color: white;
}
.wrapper {
    display: flex;
    height: 80px;
    align-items: center;
}

.logo {
    width: 100%;
}

.navList {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 0;
}

.span {
    display: block;
    font-weight: 500;
    font-size: 18px;;
    color: var(--button);
    /* width: 50px; */
    /* text-align: center; */
}
    
    .list {
        display: flex;
        gap: 16px;
    }

    .link {
        font-weight: 600;
        font-size: 26px;
        line-height: 1.25;
        text-align: center;
        color: var(--button);
        padding-bottom: 14px;
        }


