.card {
    display: flex;
    gap: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
}

.image {
    border-radius: 10px;
    overflow: hidden;
}

.cardInfo {
    width: 526px;
}

.position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.titlePrice {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--main);
}

.positionPrice {
    display: flex;
}

.btn {
    border: none;
    background-color: transparent;
}

.icon {
    display: block;
    stroke: var(--main);
    fill: transparent;
}

.list {
    display: flex;
    gap: 16px;
    margin-bottom: 24px;
}

.item {
    display: flex;
    align-items: center;
    gap: 4px;
    color: var(--main);
}

.rating {
    text-decoration: underline;
    text-decoration-skip-ink: none; 
} 

.description {
    display: inline-flex;
    width: 525px;
    height: 24px;
    overflow-y: hidden;
    margin-bottom: 24px;
}
