.card {
    display: flex;
    gap: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    padding: 24px;
    width: 888px;
}
.card:hover {
    border-color: var(--button);
}

.image {
    border-radius: 10px;
    overflow: hidden;
    width: 290px;
    height: 310px;
}

.cardInfo {
    width: 526px;
}


.description {
    display: inline-flex;
    width: 525px;
    height: 24px;
    overflow-y: hidden;
    margin-bottom: 24px;
}
